{% extends 'base_user_management.html' %}

{% block head %}
<title>login</title>
{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 class="font-weight-bold" id="form-title">LOGIN</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" placeholder="Password..." class="form-control">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Login">
                    </div>
                </form>
            </div>

            {% for message in messages %}
                <div class="mt-4">
                    <div class="d-flex justify-content-center">
                        {% if message.level == 20 %}
                            <p class="text-danger  bg-light">{{message}}</p>
                        {% elif message.level == 25 %}
                            <p class="text-success  bg-light">{{message}}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}


            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="/usermanagement/register" class="ml-2">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}