{% extends "base_generate_files.html" %}
{% load static %}


{% block head %}
<title>Generate Files</title>
{% endblock %}

{% block body %}
<span id="str_files_subfiles">{{arr_files_subfiles}}</span>
<form action="/results/quality_control" method="POST">
    {% csrf_token %}
    <div class="container well p-4">
        <div class="container user_card p-4">
            <div class="row">
                <div class="col-md-auto">
                    <!-- projects -->
                    <div id="div_project">
                        <p class="text-white font-weight-bold">Select project:
                            <select class="ml-4" id="select_project">
                                {% for project in projects %}
                                <option value={{forloop.counter0}}>{{project}}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                </div>
            </div>
            <!-- fastq files -->
            <div class="col-md-auto row">
                <p class="text-white font-weight-bold">Select fastqs:</p>
            </div>
            <div class="row" id="div_fastqs">
                <div class="col-md-auto">
                    <select id="select_fastq_list" multiple="multiple" style="height:200px;">
                    </select>
                </div>
                <div class="col-md-auto">
                    <button id="btnRemove">&lt;</button><button id="btnAdd">&gt;</button>
                </div>
                <div class="col-md-auto">
                    <select id="select_fastq_list_selected" multiple="multiple" style="height:200px;">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <div id="div_error_fastqs">
                        <p class="text-danger">There are no .fastq files in this directory</p>
                    </div>
                </div>
            </div>
            <!-- bed file -->
            <div class="col-md-auto row pt-4">
                <p class="text-white font-weight-bold">Select bed file:
                    <div class="pl-4" id="div_bed">
                        <select id="select_bed_list"></select>
                    </div>
                </p>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <div id="div_error_bed">
                        <p class="text-danger">There are no .bed files in this directory</p>
                    </div>
                </div>
            </div>
            <!-- genome -->
            <div class="col-md-auto row pt-4">
                <p class="text-white font-weight-bold">Select genome:
                    <div class="pl-4" id="div_genome">
                        <select id="select_genome">
                            <option value="hg19">HG19</option>
                            <option value="hg38">HG38</option>
                        </select>
                    </div>
                </p>
            </div>
            <!-- number of process -->
            <div class="col-md-auto row pt-4">
                <p class="text-white font-weight-bold">Select number of parallel processes:
                    <div class="pl-4" id="div_parallel_processes">
                        <select id="select_parallel_processes">
                            {% for i in parallel_processes %}
                            {% if i == 6 %}
                            <option value={{forloop.counter0}} selected>{{i}}</option>
                            {% else %}
                            <option value={{forloop.counter0}}>{{i}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </p>
            </div>
            <div class="row pt-4">
                <div class="col-md-auto">
                    <!-- hided selected options -->
                    <input class="hide_option_selected" id="input_project_selected" type="text" name="sel_project">
                    <input class="hide_option_selected" id="input_fastq_R1_selected" type="text" name="sel_R1_fastqs">
                    <input class="hide_option_selected" id="input_fastq_R2_selected" type="text" name="sel_R2_fastqs">
                    <input class="hide_option_selected" id="input_bed_selected" type="text" name="sel_bed">
                    <input class="hide_option_selected" id="input_genome_selected" type="text" name="sel_genome">
                    <input class="hide_option_selected" id="input_num_pp_selected" type="text" name="sel_pp">
                    <input type="submit" value="Run fastq analysis">
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}