{% extends 'base_pipeline.html' %}
{% load static %}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}
<!--  load user_groups  -->
<div class="container well">
    <div class="container pt-4">
        <div class="row">
            <!--  if request.user|has_group:"Technicians"  -->
            <a href="/generatefiles/select_project">
                <div class="col-md-auto">
                    <div class="d-flex justify-content-center h-100">
                        <div class="user_card">
                            <div class="d-flex justify-content-center text-white">
                                <h3 class="font-weight-bold" id="form-title">Make a run</h3>
                            </div>
                            <div class="d-flex justify-content-center form_container">

                                <img class="img-responsive" src="{% static 'Pipeline/images/makerun.png' %}"
                                    alt="make run image" width="300px" height="300px">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-auto">
                    <div class="d-flex justify-content-center h-100">
                        <div class="user_card">
                            <div class="d-flex justify-content-center text-white">
                                <h3 class="font-weight-bold" id="form-title">History</h3>
                            </div>
                            <div class="d-flex justify-content-center form_container">
                                <img class="img-responsive" src="{% static 'Pipeline/images/history.png' %}"
                                    alt="history image" width="300px" height="300px">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



{% endblock %}