<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/generatefiles/select_project">Make a run</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">History</a>
            </li>
        </ul>
    </div>
    <span class="text-white">User: {{request.user}}, <a href="/usermanagement/logout/"> Logout</a></span>
</nav>