{% extends 'base_results.html' %}
{% block head %}
<title>quality control</title>
{% endblock %} 

{% block body %}
<p>Project name: {{project}}</p>
<p>fastqsR1: {{fastqsR1}}</p>
<p>fastqsR2: {{fastqsR2}}</p>
<p>bed file: {{bed}}</p> 
{% endblock %}